.Weather{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 0 1rem;
  }

header{
    height: 3rem;
    flex: 0 0 auto;
}
footer{
    height: 7rem;
    flex: 0 0 auto;
    font-size:.7rem;
    margin-bottom: 2.5rem;
}
main{
    flex: 1 0 auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.header h3{
    margin-top: 0;
    margin-bottom: 0.2rem;
    font-size: 1rem;
}

.header-date{
    font-size: .7rem;
}

.header-week{
    margin-right: 0.6rem;
}

.header-icon{
    margin-top:.5rem;
}

.list-text{
    display: flex;
    justify-content: space-between;
}

footer li{
    border-bottom: 1px solid #fff;
}